<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.web.mapper.PositionMapper">

    <update id="updateNumber">
        update position a set a.number = IFNULL((
            select sum(case when b.type='D00201' then b.number else -1*b.number end) from trade_record b where b.product_code = #{productCode} and b.user_id = #{userId}
        ),0) where a.product_code = #{productCode} and a.user_id = #{userId}
    </update>

</mapper>